{% extends "base.html" %}
{% block content %}
    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>
            Feel free to contact us for any inquiries, appointment scheduling, or additional information. Our team is here to address your healthcare needs and provide you with the best care possible. Fill out the contact form below or use our contact details to reach us directly. We look forward to hearing from you!</p>
        </div>
      </div>

      <div>
        <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.840382921462!2d-7.639829674093614!3d33.583493342338954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d2e8232b7613%3A0xf40d9907f5b308d6!2sEmsi%20Maarif!5e0!3m2!1sar!2sma!4v1716800874643!5m2!1sar!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>123 maarif Street Casablanca, 20000 Morocco</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>MediCare@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+212661514131</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            
          </div>

        </div>

      </div>
      </section><!-- End Contact Section -->
  
    </main><!-- End #main -->
{% endblock %}
