{% extends "base.html"  %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">List of Appointments</h2>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Doctor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment.date }}</td>
                        <td>{{ appointment.doctor }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
