{% extends "base.html" %}
{% block content %}
      <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
  
          <div class="section-title">
            <h2>Services</h2>
            <p>Welcome to the section dedicated to our medical services. Within our clinic, we are committed to providing comprehensive and quality healthcare to meet your individual needs. Explore below a range of services we offer:</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-heartbeat"></i></div>
                <h4><a href="">General Consultations</a></h4>
                <p>Our general practitioners offer comprehensive consultations for the diagnosis and treatment of common illnesses.</p>
              </div>
            </div>
          
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-user-md"></i></div>
                <h4><a href="">Specialized Consultations</a></h4>
                <p>We offer specialized consultations in various fields such as cardiology, dermatology, pediatrics, etc.</p>
              </div>
            </div>
          
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-vial"></i></div>
                <h4><a href="">Laboratory Examinations</a></h4>
                <p>Our medical practice has an equipped laboratory to perform different types of analyses and tests.</p>
              </div>
            </div>
          
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-band-aid"></i></div>
                <h4><a href="">Pain Management</a></h4>
                <p>Our specialists offer pain management services to relieve patients suffering from chronic pain.</p>
              </div>
            </div>
          
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-syringe"></i></div>
                <h4><a href="">Vaccinations</a></h4>
                <p>We provide a comprehensive range of vaccinations for children, adults, and travelers.</p>
              </div>
            </div>
          
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-user-md"></i></div>
                <h4><a href="">Monitoring and Prevention</a></h4>
                <p>Our doctors ensure regular monitoring of patients with chronic illnesses and provide advice for disease prevention.</p>
              </div>
            </div>
          </div>
      </section><!-- End Services Section -->
  
{% endblock %}